@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap");
:root {
  --Blue_900_dm-te: hsl(209, 23%, 22%);
  --Blue_950_dm-bg: hsl(207, 26%, 17%);
  --Grey_950_lm-tx: hsl(200, 15%, 8%);
  --Grey_400_lm-input: hsl(0, 0%, 50%);
  --Grey_50_lm-bg: hsl(0, 0%, 99%);
  --White: hsl(0, 100%, 100%);
}
.dark {
  --Blue_900_dm-te: hsl(209, 23%, 22%);
  --Grey_950_lm-tx: hsl(0, 100%, 100%);
  --Grey_400_lm-input: hsl(0, 0%, 50%);
  --Grey_50_lm-bg: hsl(207, 26%, 17%);
  --White: hsl(209, 23%, 22%);
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  transition: background-color 0.3s ease, color 0.3s ease;
  transition: 0.2s ease-in-out;
}
body {
  font-family: "Nunito Sans", sans-serif;
  color: var(--Grey_950_lm-tx);
  background-color: var(--Grey_50_lm-bg);
}

header {
  display: flex;
  justify-content: center;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  background-color: var(--Grey_50_lm-bg);
  position: relative;
  z-index: 10;
  padding: 1rem;
  margin-block: 0 50px;
  color: var(--Grey_950_lm-tx);
}
.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding-inline: 2.5rem;
}
.header h1 {
  font-size: 1.5rem;
  font-weight: 800;
}
.toggle-theme {
  display: flex;
  align-items: center;
}
.toggle-theme button {
  border: none;
  display: flex;
  align-items: center;
  gap: 10px;
  background-color: var(--Grey_50_lm-bg);
  font-weight: 600;
  cursor: pointer;
  color: var(--Grey_950_lm-tx);
}
#selection {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2.5rem 1rem;
}
.selection-container {
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.input {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  position: relative;
  border-radius: 5px;
  width: 100%;
  max-width: 400px;
  display: flex;
  align-items: center;
  background-color: var(--Grey_50_lm-bg);
}
.input input {
  outline: none;
  padding: 10px 15px 10px 60px;
  background-color: transparent;
  border: none;
  color: var(--Grey_950_lm-tx);
  font-size: 14px;
}
.input i {
  position: absolute;
  left: 20px;
  top: 5%;
  transform: translateY(50%);
  color: var(--Grey_950_lm-tx);
}
.selection input::placeholder {
  color: var(--Grey_400_lm-input);
}
.filtering_region {
  width: 100%;
  max-width: 200px;
  position: relative;
  display: flex;
  align-items: center;
  border-radius: 5px;
}
.filtering_region button {
  width: 100%;
  background-color: transparent;
  border: none;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 18px 20px;
  text-align: left;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
  font-weight: 600;
  color: var(--Grey_950_lm-tx);
  cursor: pointer;
}
.filtering_region button i {
  font-size: 20px;
}
.dropdown-content {
  display: none;
  position: absolute;
  top: 63px;
  background-color: var(--Grey_50_lm-bg);
  width: 100%;
  padding-block: 10px;
  z-index: 10;
  border-radius: 5px;
}
.dropdown-content.active {
  display: block;
}
.dropdown-content button {
  background-color: transparent;
  border: none;
  box-shadow: none;
  padding: 5px 20px;
}
.countries_container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 30px;
  width: 90%;
  background-color: var(--Grey_50_lm-bg);
  padding: 2.5rem 0.5rem;
  margin: 0 auto;
  place-items: center;
 

}
.card {
  background-color: var(--Grey_50_lm-bg);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
  border-radius: 8px;
  overflow: hidden;
  cursor: pointer;
  transition: transform 0.3s ease;
  color: var(--Grey_950_lm-tx);
  padding-bottom: 20px;
  width: 100%;
  max-width: 300px;
}
.card:hover {
  transform: scale(1.02) translateY(-4px);
}
.card img {
  width: 100%;
  height: 120px;
  object-fit: cover;
  padding-bottom: 10px;
}
.card h2 {
  font-size: 1rem;
  padding: 0.4rem 1rem;
}
.card p {
  font-size: 0.8rem;
  padding: 0.4rem 1rem;
}

.card p span {
  color: var(--Grey_400_lm-input);
}
.return {
  width: 90%;
  margin: auto;
}
.back_button button {
  border: none;
  background-color: var(--Grey_50_lm-bg);
  padding: 0.8rem 1rem;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  color: var(--Grey_950_lm-tx);
  font-weight: 600;
}
.selected_country {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding: 40px 20px;
  display: flex;
  justify-content: space-between;
  gap: 100px;
  align-items: center;
  margin: 0 auto;
  align-items: center;
}
.flag img {
  width: 100%;
  height: auto;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.selected_country {
  color: var(--Grey_950_lm-tx);
  padding: 50px;
}
.details-column-container,
.flag {
  width: 50%;

}
.details-column-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}
.details-column-container {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;
}
.details-column h2 {
  font-size: 1.5rem;
  margin-bottom: 30px;
}
.details-column p strong {
  color: var(--Grey_950_lm-tx);
}
.details-column p {
  padding-bottom: 12px;
  color: var(--Grey_400_lm-input);
  font-size: 14px;
}
.border-btn {
  background-color: var(--Grey_100_lm-bg);
  border: none;
  padding: 8px 10px;
  margin: 5px;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0 0 5px rgba(0,0,0,0.2);
  transition: background-color 0.3s;
  color: var(--Grey_950_lm-tx);
  font-weight: 400;
}
.border-btn:hover {
  background-color: var(--Grey_300_lm-bg);
}
.border-buttons{
    display:flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 10px;
}

@media screen and (max-width: 768px) {
  header {
    margin-block: 0 30px;
  }
  .header-container {
    padding: 1rem 0.5rem;
  }
  .header-container h1 {
    font-size: 18px;
  }
  .selection-container {
    flex-direction: column;
    width: 100%;
    gap: 25px;
    align-items: flex-start;
  }
  .input {
    width: 100%;
    max-width: none;
  }
  .filtering_region {
    width: 55%;
    max-width: none;
  }
  .filtering_region button{
    font-size: 12px;
  }
  .selected_country {
    flex-direction: column;
  }
  .flag,
  .details-column {
    width: 100%;
  }
}
